.welcomePage{

    font-family: Georgia, serif;
    text-align: center;
  
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0.6255544454109769) 0%,
    rgba(253,187,45,0.6451622885482318) 100%);
  
    width: 100vw;
    height: 100vh;
    padding:6%;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
        .welcome-main{

          padding: 5% 7%;
          
          background-color: white;
          border: solid black 1px;
          text-align: center;
          border-radius: 10px;
  
          z-index: 1;
          box-shadow: 4px 4px 4px 4px #0dcaf079,0 2px 0 0 rgba(31, 172, 238, 0.19);
        }
  
        .start{
          color:white;
        }
}

.wordle-icon{

  margin:10% 0% 10% 0%;
  
}
.wordle-icon h1{
    font-size: 3.3em;
    letter-spacing: -4px;
    font-weight: 500;
    color: black;
    font-family: georgia, serif;
    text-align: center;
    margin-bottom: 0px;
    padding: 0%;
}

.welcome-main h4{
  margin-bottom: 10%;
}
  
.wordle-icon {
    animation-duration: 1s;
    animation-fill-mode: both;
}


.leRotateYZoomIn { animation-name: leRotateYZoomIn }
@keyframes leRotateYZoomIn {
    from {
        transform: perspective(600px) translate3d(0, -60px, -2000px) rotateY(75deg);
        opacity: 0
    }
    5% { transform: perspective(600px) translate3d(0, -60px, -1500px) rotateY(75deg) }
}