.key{
    padding:1%;
    margin: 0.5%;
  

  .green{
    background-color: rgb(18 226 198 / 76%);
    color:white;
    border: solid white 1px;
  }

  .grey{
    background-color: rgb(218 218 218 / 76%);
    color:white;
    border: solid white 1px;
  }

  .yellow{
    background-color:rgb(255 224 131 / 76%);
    color:white;
    border: solid white 1px;
  }
}