.tile{
    min-width: 45px;
    min-height: 45px;
  
    width:3.5vw;
    height:7vh;
  
    font-size: 20px;
    text-align: center;
    margin: 2px;
    // border:solid #0dcaf0 1.5px;
    border:solid #ffffff 0px;
    border-radius: 5%;
  
  }